.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  padding-top: 10vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.start {
  cursor: pointer;
  height: 5vmin;
  width:40vmin;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 45px;
  font-size: calc(3vmin);
  text-align: center;
  background-color: #c70100;
  color: #fff;
  Outline: none;
  text-decoration: none;
}
.start:hover {
  color: #e49c9c;
  box-shadow: 2px 2px 20px #f1c4c4;
}
button.Start {
  -webkit-appearance: none;
  -moz-appearance: none;
}

